// ng-prime - card - start
:host ::ng-deep{
    .customCard.p-card{
        padding: 0 0.5rem; 
        max-height: 395px;
        height: 100%;
    }
    .p-card-body{
        padding: 0;
    }
    .p-card-content{
        padding: 0.5rem 0;
    }
    .p-card-header{
        flex: 0 0 100%;
        padding: 8px 0 0 0;
    }
}
// ng-prime - card - end

// primeNg table - start
:host ::ng-deep .p-datatable-wrapper{
    width: 100%;
}
// primeNg table - end

// ng-prime - icon button - start
:host ::ng-deep{
    .iconButton.p-button-icon-only{
        width: 32px;
        height: 32px;
        border-radius: 18px;
    }
    .float-right.p-button-icon-only{
        float: right;
    }
}
// ng-prime - icon button - end

// primeng - card header dropdown - start
:host ::ng-deep{
    .filterDropdown.p-dropdown{
        float: right;
    }
    .RarEsFsQs.p-dropdown{
        min-width: 125px;
    }
    .filterDropdown > .p-inputtext{
        padding: 0.25rem 0.5rem;
    }
}
// primeng - card header dropdown - end

// general styling - start

.float-right{
    float: right;
}
.iconButton{
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 18px;
    color: #fff;
    background-color: #6c757d;
}
// --> card title
.cardTitle{
    font-weight: 500;
    line-height: 2;
}
// general styling - end