.cursorPtr{
    cursor: pointer;
}
.pt-21{
    padding-top: 21px !important;
    display: flex;
}
:host ::ng-deep .ui-button{
    height: 38px !important;
}
:host ::ng-deep .ui-button-icon-only{
    width: 38px !important;
}
// filter time span - start
:host ::ng-deep .filterTimeSpan.ui-dropdown{
    min-width: auto !important;
}
// filter time span - end

// filter supplier - start
.supplierMultiSelect{
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: 135px;
}
// filter supplier - end