<div class="row collapse" id="filterCollapse">
    <div class="col">
        <label class="mb-1 fs13px">Time Span</label>
        <div>
            <p-dropdown styleClass="dropDownOverride" [options]="timeSpans" [(ngModel)]="selectedTimeSpan" (onChange)="onTimeSpanChange()">
            </p-dropdown>
        </div>
    </div>
    <div class="col">
        <label class="mb-1 fs13px">Buyers</label>
        <div>
            <p-multiSelect [options]="buyersList" [(ngModel)]="selectedBuyers" styleClass="multiSelectOverride"
                [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} items selected'"
                optionLabel="name" [virtualScroll]="true" itemSize="30" (onChange)="onFilterChange(filterName.buyer)">
            </p-multiSelect>
        </div>
    </div>
    <div class="col">
        <label class="mb-1 fs13px">Suppliers</label>
        <div>
            <p-multiSelect [options]="supplierList" [(ngModel)]="selectedSupplier" styleClass="multiSelectOverride"
                optionLabel="name" [virtualScroll]="true" (onChange)="onFilterChange(filterName.supplier)"
                [maxSelectedLabels]="0" [selectedItemsLabel]="'{0} items selected'">
                <ng-template let-supplier let-i="index" pTemplate="item">
                    <span class="supplierMultiSelect" pTooltip="{{supplier.name}}">{{supplier.name}}</span>
                </ng-template>
            </p-multiSelect>
        </div>
    </div>
    <div class="col">
        <label class="mb-1 fs13px">Commodity</label>
        <div>
            <p-multiSelect [options]="commodityList" [(ngModel)]="selectedCommodity" styleClass="multiSelectOverride"
                [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} items selected'"
                optionLabel="name" (onChange)="onFilterChange(filterName.commodity)">
            </p-multiSelect>
        </div>
    </div>
    <div class="col">
        <label class="mb-1 fs13px">PO line</label>
        <div>
            <p-multiSelect [options]="poLineList" [(ngModel)]="selectedPoLine" styleClass="multiSelectOverride"
                [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} items selected'"
                optionLabel="name" [virtualScroll]="true" itemSize="30" (onChange)="onFilterChange(filterName.POLine)">
            </p-multiSelect>
        </div>
    </div>
    <div class="col">
        <label class="mb-1 fs13px">Part Number</label>
        <div>
            <p-multiSelect [options]="partNumberList" [(ngModel)]="selectedPartNumber" styleClass="multiSelectOverride"
                optionLabel="name" [virtualScroll]="true" itemSize="30" (onChange)="onFilterChange(filterName.PN)"
                [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} items selected'">
            </p-multiSelect>
        </div>
    </div>
    <div class="col pt-21">
        <p-button label="Apply" (click)="sendFilterData()"></p-button>
        <p-button #reset icon="fas fa-undo-alt" class="ms-1" (click)="resetFilters()"></p-button>
    </div>
</div>