<!-- Table Header Start -->
<div class="container-fluid mb-3">
    <span class="fw-600 fs-4">
        {{ 'URAM.PERMISSION.TITLE' | translate }}
    </span>
</div>
<!-- Table Header End -->

<!-- Table Start -->
<div class="container-fluid">
    <div class="tbl-permissions-list">
        <div class="card-columns">
            <div *ngFor="let object of dataSource | groupBy:'groupName'; let i=index">
                <div class="mb-2">
                    <p-card styleClass="customCard">
                        <ng-template pTemplate="header">
                            <div class="fw-600 fs-5 pt-3 pb-2 ps-3">{{ object.key }}</div>
                        </ng-template>
                        <div class="ps-3">
                            <ul>
                                <li class="mb-2" *ngFor="let obj of object.value">{{ obj.name }}</li>
                            </ul>
                        </div>
                    </p-card>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Table End -->