<div *ngIf='isLoading' class='spinner-wrapper'>
    <div class='spinner spinner-border'>
    </div>
</div>

<div id="forgot-password">
    <div id="forgot-password-form-wrapper">
        <div class="logo">
            <img class="logo-icon" src="assets/images/logos/logo.png">
        </div>

        <div id="forgot-password-form">
            <!-- <div class="title">RECOVER YOUR PASSWORD</div> -->
            <div class="title">{{ 'FORGOT_PASSWORD_DIALOG.TITLE' | translate }}</div>
            <div class="pb-3">{{ 'FORGOT_PASSWORD_DIALOG.RESET_PASSWORD_HINT' | translate }}</div>

            <form [formGroup]="forgotPasswordForm" novalidate (ngSubmit)="forgotPassword(forgotPasswordForm.valid)">
                <div class="alert alert-danger" *ngIf="submittedErrorMsg != ''"> {{ submittedErrorMsg | translate }} </div>
                <div class="alert alert-success" *ngIf="submittedSucessMsg != ''"> {{ submittedSucessMsg | translate }}  <strong>
                        {{ f.email.value }}</strong> </div>
                    <div *ngIf="submittedSucessMsg != ''" class="lbl-setemail-msg">
                        <!-- Click 'Resend reset link', If you have not received email. -->
                        {{ 'FORGOT_PASSWORD_DIALOG.MESSAGE_CLICK_LINK' | translate }}
                    </div>
                <div class="text-left  form-group">
                    <label>{{ 'FORGOT_PASSWORD_DIALOG.EMAIL' | translate }}<span class="mandatory"></span></label>
                    <input #email type="email" id="txt-email" class="form-control" formControlName="email" maxlength="{{MaxLength.Email}}"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  (keydown.backspace)="onBackspaceKeydown($event)">
                    <div *ngFor='let validation of forgot_validation_messages.email' class='invalid-feedback'>
                        <div *ngIf='f.email.hasError(validation.type) && submitted && f.email.errors'>
                            {{ validation.message | translate }}
                        </div>
                    </div>
                </div>

                <!-- <button class="btn btn-primary btn-block btn_padding" aria-label="SEND RESET LINK">SEND RESET
                    LINK</button> -->
                <div class="text-right">
                    <button type='button' id="btn-cancel" class='btn btn-outline-secondary mr-2' (click)='onCancel()'>{{ 'FORGOT_PASSWORD_DIALOG.BUTTON_CANCEL' | translate }}</button>
                    <button id="btn-send-reset-link" class='btn btn-primary'>{{ sendResetLinkButtonName | translate }}</button>
                </div>
            </form>
            <!-- <div class="login text-center">
                <a class="link dark-blue font-semibold" [routerLink]="'/auth/login'">Go back to login</a>
            </div> -->
        </div>
    </div>
</div>