// @import "src/scss/_variables.scss";
// @import "src/scss/_custom.scss";

$clr-white: #fff;

reset-password {
  background: $clr-white;
}

#reset-password {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: $clr-white;
  flex-direction: row;
  box-sizing: border-box;
  min-height: 100vh;
  align-items: center;

  .logo {
    text-align: center;
    padding-bottom: 16px;

    .logo-icon{
      max-width: 350px;

      @media (max-width: 575px){
        max-width: 320px;
      }
    }
  }

  #reset-password-form-wrapper {
    flex: 100%;
    padding: 16px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;

    #reset-password-form {
      width: 450px;
      max-width: 100%;
      padding: 32px;
      text-align: center;
      border: 1px solid rgba(0, 0, 0, 0.12);

      @media screen and (max-width: 480px) {
        width: 100%; padding: 16px;
      }

      .title {
        font-size: 20px;
        margin: 0 0 32px 0;
        text-align: center;
      }

      .btn--padding{ padding: 9px; }

      .login {
        margin: 32px auto 0;  width: 100%;
      }
    }
  }
}
