@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }
}

:host ::ng-deep .columns nb-layout-column{
  padding: 1.5rem 0rem 0.5rem 0rem !important;
}

:host ::ng-deep nb-icon.menu-icon{
  font-size: medium !important;
  width: auto !important;
  margin: 0 0.5rem 0 0.5rem !important;
}
