@import '../../../../../scss/variables';

.dark-blue{
    color: $dark-blue !important;
}
.dark-blueBg{
    background-color: $dark-blue !important;
}
.yellow-500Bg{
    color: var(--surface-0);
    background-color: var(--yellow-500);
    border: none;
}
.teal-500Bg{
    background-color: var(--teal-500);
    color: var(--surface-0) !important;
    border: none;
}
// prime ng input override - start
:host ::ng-deep{
    .multiSelectOverride.p-multiselect
    {
        width: 100%;
    }
    .customTable.p-datatable .p-datatable-wrapper table tbody tr:last-child{
        padding-bottom: 90px !important;
    }
}
// prime ng input override - end
.customInputText{
    height: 38px;
}
// table styling - start
.avatar {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
}
// table styling - end