@import '../../../../../scss/variables';

.dark-blue{
    color: $dark-blue !important;
}
.yellow-500Bg{
    color: var(--surface-0);
    background-color: var(--yellow-500);
    border: none;
}
// prime ng input override - end
.customInputText{
    height: 38px;
}