<div class="header-container">
  <div class="logo-container">
    <button (click)="toggleSidebar()" class="fas fa-bars sideBarToggleBtn me-3">
    </button>
    <a class="logo" href="#" (click)="navigateHome()">ForeOptics</a>
  </div>
  <div class="float-end ms-2 ps-2 pt-1 lineHeight userNameBrder">
    {{loggedInUserName}}
  </div>
  <div class="float-end">
    <!-- <i class="fas fa-sun fa-lg me-1"></i> -->
    <!-- <p-inputSwitch [(ngModel)]="enableDarkMode" (onChange)=changeTheme($event) styleClass="customSwitch">
    </p-inputSwitch> -->
    <p-toggleButton (onChange)="changeTheme($event)" styleClass="iconButton" [offIcon]="'pi pi-sun'"
      [onIcon]="'pi pi-moon'" [(ngModel)]="enableDarkMode">
    </p-toggleButton>
    <!-- <i class="fas fa-moon fa-lg ms-1"></i> -->
  </div>
</div>