<!-- Page Header Start -->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <span class="fw-600 fs-4">{{ 'URAM.ROLE.LIST.TITLE' | translate }}</span>
    </div>
    <div class="col">
      <div *ngIf="isAddRole">
        <button id="btn-add-role" class="btn btn-primary float-end" type="button" (click)="addRole()">
          <i class="fas fa-plus-circle me-1"></i>
          {{ 'URAM.ROLE.LIST.ADD_ROLE' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Page Content Start -->
<div class="container-fluid">
  <!-- Table Header Start -->
  <div class="row mb-3">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
      <div class="mb-1 fs13px">{{ 'URAM.ROLE.LIST.SEARCH' | translate }}</div>
      <div class="p-input-icon-right w-100">
        <i class="pi pi-search"></i>
        <input #searchTextInput pInputText type="text" id="txt-search-text" class="w-100 customInputText"
          [(ngModel)]="roleSearchFilter.searchText" />
      </div>
    </div>
    <div class="col-xl-2 col-lg-6 col-sm-3 col-6">
      <button id="btn-reset" class="btn btn-outline-secondary mt-4" type="button" (click)="onResetAllFilters()"
        [disabled]="(roleSearchFilter.searchText == '' ? true : false)">
        {{'URAM.ROLE.LIST.BUTTON_RESET' | translate}}
      </button>
    </div>
  </div>
  <!-- Table Header End -->

  <!-- Table Start -->
  <p-table #pTable [responsive]="true" [rows]="10" [columns]="cols" [value]="dataSource" sortField="name"
    [sortOrder]="1" [lazy]="true" (onLazyLoad)="loadRoles()" [totalRecords]="totalRecords" [autoLayout]="true"
    [scrollable]="true" [ngClass]="totalRecords==1 ? 'overflow-visible' : ''">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" [pSortableColumnDisabled]="!col.sort"
          class="{{col.field}} {{col.class}}">
          {{ col.header | translate }}
          <p-sortIcon [field]="col.field" *ngIf="col.sort"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td>
          <span class="p-column-title">
            {{columns[0].header}}
          </span>
          <a [routerLink]="['/settings/uram/roles', rowData.id]" class="dark-blue " [ngClass]="{disabled: !isViewRole}">
            {{rowData.name}}
          </a>
        </td>
        <td>
          <span class="p-column-title">
            {{columns[1].header}}
          </span>
          {{rowData.internalRoleName}}
        </td>
        <td>
          <span class="p-column-title">
            {{columns[2].header}}
          </span>
          {{rowData.permissionSetName}}
        </td>
        <td *ngIf="isShowActionColumn">
          <div class="dropdown">
            <button pButton icon="fas fa-wrench" class="yellow-500Bg p-button-rounded p-button-sm"
              type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a *ngIf="isViewRole && isEditRole" id="link-edit" (click)="editRole(rowData.id)"
                  class="dropdown-item dark-blue">
                  <i class="fas fa-pencil-alt me-1"></i>
                  {{ 'URAM.USER.LIST.BUTTON_EDIT' | translate }}
                </a>
              </li>
              <li>
                <a *ngIf="isViewRole && isDeleteRole" id="link-remove" class="dropdown-item dark-blue"
                  (click)="deleteRole(rowData.id)">
                  <i class="far fa-trash-alt me-1"></i>
                  {{ 'URAM.USER.LIST.BUTTON_REMOVE' | translate }}
                </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <!-- Table End -->

  <!-- Paginator Start -->
  <p-paginator #paginator [hidden]="totalRecords == 0" [rows]="10" [rowsPerPageOptions]='[10,20,30]'
    class="center-paginator" showCurrentPageReport="true" currentPageReportTemplate="{currentPage} of {totalPages}"
    (onPageChange)="loadRoles()" [totalRecords]="totalRecords"></p-paginator>
  <div *ngIf="totalRecords == 0" class="table-no-record text-center">
    <div>{{ 'URAM.ROLE.LIST.MESSAGE_NO_RECORDS_FOUND' | translate }}</div>
  </div>
  <!-- Paginator End -->
</div>
<!-- Page Content End -->