<div class="container-fluid page-content">
    <div class="row">
        <div class="col-12 entity-search-area">
            <div class="row">
                <div class="col-12 mb-2">
                    <span class="fw-600 fs-4">Risk Trend</span>
                    <button class="filterIcon" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapse">
                        <i class="fas fa-filter"></i>
                    </button>
                </div>
                <app-dashboard-filter class="col-12" (filterEvent)="getSelectedFilters($event)"></app-dashboard-filter>
            </div>
        </div>
        <div class="container-fluid page-content animated fadeIn entity-main">
            <div class="row mb-3">
                <div *ngFor="let widget of indicatorList" [id]="'widgetStyle_'+widget.id" class="mt-3 swotsection"
                    [ngClass]="widget.widgetSize.bsWidth">
                    <app-combo-indicator [indicatorConfig]="widget" [SCfilterObj]="filterObj">
                    </app-combo-indicator>
                </div>
            </div>
        </div>
    </div>
</div>