@import '../../../../../scss/variables';

.dark-green{
    color: $dark-green;
}
.red-prog{
    color: $red-prog;
}

// To enable providing custom width to columns of primeNg table - start
:host ::ng-deep{
    .p-datatable-scrollable .p-datatable-tbody>tr, 
    .p-datatable-scrollable .p-datatable-tfoot>tr, 
    .p-datatable-scrollable .p-datatable-thead>tr{
        display: table;
    }
    .p-datatable-scrollable .p-datatable-tbody>tr>td, 
    .p-datatable-scrollable .p-datatable-tfoot>tr>td,
    .p-datatable-scrollable .p-datatable-thead>tr>th{
        display: table-cell;
    }
}
// To enable providing custom width to columns of primeNg table - end
.classDamVariance, .classDam, .classOrderedQty, .classPoLine, .classDueDate {
        text-align: right !important;
}
.classSuppliers{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.classDamVariance{
    width: 35%;
}
.classDueDate, .classPO{
    width: 15%;
}
.classPoLine, .classOrderedQty, .classDam{
    width: 10%;
}
