@import '../../../../../scss/variables';

// color classes - start
.dark-green{
    color: $dark-green;
}
.red-prog{
    color: $red-prog;
}
.lightRed{
    color: $danger-red;
}
.lightRedBg{
    background-color: $danger-red;    
}
.lightYellow{
    color: $yellow-prog;
}
.lightYellowBg{
    background-color: $dark-yellow;    
}
.lightGreen{
    color: $light-green;
}
.lightGreenBg{
    background-color: $light-green;    
}
// color classes - end

// To enable providing custom width to columns of primeNg table - start
:host ::ng-deep{
    .p-datatable-scrollable .p-datatable-thead{
        top: -1px;
    }
    .p-datatable-scrollable .p-datatable-tbody, 
    .p-datatable-scrollable .p-datatable-tfoot, 
    .p-datatable-scrollable .p-datatable-thead{
        display: revert;
    }
    .p-datatable-scrollable .p-datatable-tbody>tr, 
    .p-datatable-scrollable .p-datatable-tfoot>tr, 
    .p-datatable-scrollable .p-datatable-thead>tr{
        display: revert;
    }
    .p-datatable-scrollable .p-datatable-tbody>tr>td, 
    .p-datatable-scrollable .p-datatable-tfoot>tr>td,
    .p-datatable-scrollable .p-datatable-thead>tr>th{
        display: revert;
    }
}
// To enable providing custom width to columns of primeNg table - end

// for Risk Profile dashboard table - start
.classDamVariance, .classOrderedQty, .classPoLine, .classDueDate {
    text-align: right !important;
}
.classDamVariance{
    width: 42%;
}
.classDueDate, .classPO{
    width: 15%;
}
.classPoLine, .classOrderedQty{
    width: 10%;
}
.clippedSupplierName{
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
:host ::ng-deep {
    .riskProfileTable .classDam{
        width: 10% !important;
        text-align: right !important;
    }
}
// for Risk Profile dashboard table - end

// Risk Trend dashboard - start
.pd016{
    padding: 16px 0;
}
.classInfoGain{
    text-align: center !important;
}
:host ::ng-deep {
    .riskTrendTable .clippedSupplierName{
        width: auto;
    }
    .riskTrendTable{
        .classDam, .classResponsiveness, .classAgility, .classReliability, .classEs, .classFs,.classQs {
            padding: 0;
            width: 6%;
            text-align: center;
        }
    }
}
// Risk Trend dashboard - end
