<!-- Model Header Start -->
<div class="modal-header border-bottom-0 padding-32 pb-0">
    <h4 class="modal-title font-weight-bold">{{ 'URAM.USER.USER_RESET_PASSWORD_DIALOG.TITLE' | translate }}</h4>
    <button type="button" id="btn-close" class="close" aria-label="Close" (click)="onCloseForm()">
        <span class="font-24 fonts-close" aria-hidden="true"><i class="fas fa-times"></i></span>
    </button>
</div>
<!-- Model Header End -->

<!-- Activity Body Start -->
<div class="modal-body padding-32 pt-3" *ngIf="!isLoading">
    <form (ngSubmit)="onSubmitResetPassword()" #assignForm="ngForm">
        <div class="row">
            <div class='col-md-12 form-group'>
                <label>{{ 'URAM.USER.USER_RESET_PASSWORD_DIALOG.NAME' | translate }}</label>
                <div>{{ resetPasswordModel.name }}</div>
            </div>
        </div>
        <div class="row">
            <div class='col-md-12 form-group'>
                <label>{{ 'URAM.USER.USER_RESET_PASSWORD_DIALOG.EMAIL' | translate }}</label>
                <div>{{ resetPasswordModel.email }}</div>
            </div>
        </div>
        <div class="row">
            <div class='col-md-12 form-group'>
                <label>{{ 'URAM.USER.USER_RESET_PASSWORD_DIALOG.NEWPASSWORD' | translate }}</label>
                <input type='password' id="txt-password" [(ngModel)]="resetPasswordModel.password" class='form-control' maxlength='20'
                    minlength="6" name="password" #password="ngModel"
                    [ngClass]="{ 'is-invalid': submitted && password.errors }" required autocomplete="off" />
                <div *ngFor='let validation of user_validation_messages.password' class='invalid-feedback'>
                    <div *ngIf='password.hasError(validation.type) && submitted && password.errors'>
                        {{ validation.message | translate }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class='col-md-12 form-group'>
                <label>{{ 'URAM.USER.USER_RESET_PASSWORD_DIALOG.CONFIRM_PASSWORD' | translate }}</label>
                <input type='password' id="txt-confirm-password" [(ngModel)]="resetPasswordModel.confirmPassword" class='form-control'
                    maxlength='20' minlength="6" name="confirmPassword" #confirmPassword="ngModel"
                    [ngClass]="{ 'is-invalid': submitted && confirmPassword.errors }" required autocomplete="off" />
                <div *ngFor='let validation of user_validation_messages.confirmPassword' class='invalid-feedback'>
                    <div *ngIf='confirmPassword.hasError(validation.type) && submitted && confirmPassword.errors'>
                        {{ validation.message | translate }}
                    </div>

                </div>
                <div class="error-message text-danger font-12 font-semibold" [ngClass]="{ 'is-invalid': submitted }"
                    *ngIf="submitted && !(resetPasswordModel.password === resetPasswordModel.confirmPassword)">
                    {{ 'URAM.USER.USER_RESET_PASSWORD_DIALOG.MESSAGE_NEWPASSWORD_CONFIRMPASSWORD' | translate }}
                </div>
            </div>
        </div>

        <div class="modal-footer border-top-0 px-0 pb-0">
            <button type="button" id="btn-cancel" class='btn btn-outline-secondary mr-16' (click)="onCloseForm()">{{ 'URAM.USER.USER_RESET_PASSWORD_DIALOG.BUTTON_CANCEL' | translate }}</button>
            <button type="submit" id="btn-reset" class='btn btn-primary'>{{ 'URAM.USER.USER_RESET_PASSWORD_DIALOG.BUTTON_RESET' | translate }}</button>
            <!-- <button type="submit" class='btn btn-primary'
                [disabled]="resetPasswordModel.password == null">Reset</button> -->
        </div>
    </form>
</div>
<!-- Activity Body End -->