$clr-grey: #cbcdcc;
$clr-orange: #fdb813;
$clr-white: #fff;
$clr-black: #000;
$clr-turq: #0abcbc;
$clr-blue:#1875bb;
$sidebar-grey: #f9f9f9;
$sidebar-focus: #ededed;
$light-blue: #e8eaf6;
$dark-grey: #707070;
$light-grey: #AFAFAF;
$dark-green:#4CAF50; 
$light-red: #ffcdd2;
$light-green: #a8e6aa;
$success-green: #8ed16f;
$brdr-grey: #e8e8e8;
$lighter-blue: #f0f8ff;
$grey-icon: #ccc;
$green-prog: #65bc89;
$red-prog: #DC3844;
$danger-red: #f86c6b;
$light-red: #f36f73;
$yellow-prog: #FCDB50;
$light-yellow: #f7f263;
$check-blue: #5CC2EF;
$bg-lightgrey: #F7F7F7;
$scroll-color: #d5d5d5;

$green-text: #6EBE49;
$grey-text:#8E8E8E;