$clr-grey: #cbcdcc;
$clr-orange: #fdb813;
$clr-white: #fff;
$clr-black: #000;
$dark-green:#4CAF50; 
$light-green: #a8e6aa;
$success-green: #8ed16f;
$green-prog: #65bc89;
$red-prog: #DC3844;
$danger-red: #f86c6b;
$light-red: #f36f73;
$yellow-prog: #FCDB50;
$light-yellow: #f7f263;
$scroll-color: #d5d5d5;

$brdr-grey: #e8e8e8;