// for maintaining padding of widegt 2 (middle widget) - start
@media screen and (max-width: 768px){
    #widgetStyle_34{
        padding-right: 15px;
        padding-left: 15px;
    }    
}
@media screen and (min-width: 769px){
    #widgetStyle_34{
        padding-right: 0;
        padding-left: 0;
    }    
}
// for maintaining padding of widegt 2 (middle widget) - end
.entity-search-area{
    padding-top: 10px;
}
.h-385{
    height: 385px;
}